{% load static %}
<div class="col-lg-4 col-md-4 col-sm-4">
          <div class="latest_post">

          <h2><span>తాజా పోస్ట్</span></h2>
          <div class="latest_post_container">
            <div id="prev-button"><i class="fa fa-chevron-up"></i></div>
            <ul class="latest_postnav">
              {% for latest in latest %}
              <li>
                <div class="media"> <a href="/telugudetail/{{ latest.slug }}" class="media-left"> <img alt="" src="../media/{{ latest.image }}"> </a>
                  <div class="media-body"> <a href="/telugudetail/{{ latest.slug }}" class="catg_title">{{ latest.telugu_title|slice:"0:100"|striptags }}...</a> </div>
                </div>
              </li>
              {% endfor %}
            </ul>
            <div id="next-button"><i class="fa  fa-chevron-down"></i></div>
          </div>
        </div>
        <aside class="right_content">
          <div class="add-img">
            <img src="{% static 'images/add1.png' %}" width="100%">
          </div>
          <br>
          <div class="single_sidebar">
            <h2><span>ప్రజాదరణ పొందిన పోస్ట్</span></h2>
            <ul class="spost_nav">
              {% for popular in popular %}
              <li>
                <div class="media wow fadeInDown"> <a href="/telugudetail/{{ popular.slug }}" class="media-left"> <img alt="" src="../media/{{ popular.image }}"> </a>
                  <div class="media-body"> <a href="/telugudetail/{{ popular.slug }}" class="catg_title">{{ popular.telugu_title|slice:"0:100"|striptags }}...</a> </div>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
          <div class="add-img">
            <img src="{% static 'images/add2.jpg' %}" width="100%">
          </div>


        </aside>
      </div>